<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(title = ~{::title}, styles = ~{::link})">
    <title>QuickChat - Administration</title>

    <link rel="stylesheet" th:href="@{/styles/login.css}">
</head>
<body th:replace="layout :: body(content = ~{::main}, scripts = ~{})">
<main class="container mb-5">
    <h2 class="my-5 text-grey">Administration login</h2>

    <div class="row">
        <div class="col-3">
            <form th:action="@{/admin}" method="POST" id="admin-login-form">
                <label for="email_input" class="text-grey mb-1">Email</label>
                <input type="email" id="email_input" name="email" class="form-control mb-3 text-light"/>
                <label for="password_input" class="text-grey mb-1">Password</label>
                <input type="password" id="password_input" name="password" class="form-control mb-4 text-light"/>
                <button type="submit" class="btn btn-primary">Log in</button>
                <div th:if="${param.error}" class="alert alert-danger mt-3" role="alert">
                    <p class="mb-1">Invalid email or password.</p>
                    <p class="mb-0">Please retry.</p>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>