<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(title = ~{::title}, styles = ~{::link})">
    <title>QuickChat</title>

    <link rel="stylesheet" th:href="@{/styles/chat.css}">
</head>
<body th:include="layout :: body(content = ~{::main}, scripts = ~{::script})" class="d-flex flex-column">
    <main class="container-fluid d-flex h-100 flex-column overflow-hidden">
        <div id="top-row" class="row">
            <div class="col-10 px-3 px-md-5">
                <div class="d-flex justify-content-between align-items-center py-1">
                    <h5 th:text="${chat.getName()}" id="chat-title" class="text-grey mb-0 py-2"></h5>
                    <button id="copy-chat-url-btn" class="btn btn-sm btn-outline-secondary btn-subtile shadow-none" th:title="${#request.getRequestURL()}">
                        <i class="far fa-clipboard me-1"></i> Copy chat URL
                    </button>
                </div>
            </div>
            <div id="nb-chat-users-box" class="col-2 position-relative d-flex justify-content-center align-items-center px-0">
                <div class="position-absolute top-0 left-0 h-100 w-100 d-block d-sm-none" data-bs-toggle="modal" data-bs-target="#users-modal"></div>
                <p class="mb-0 text-center text-grey">
                    <span class="circle-status active"></span> <span th:text="${#lists.size(chatUsers)}" id="nb-chat-users"></span><span class="d-none d-md-inline-block">&nbsp;online users</span>
                </p>
            </div>
        </div>

        <div id="middle-row" class="row d-flex flex-fill overflow-hidden">
            <div id="chat-box-wrapper" class="d-flex flex-column-reverse col-12 col-sm-10 h-100 py-3 px-3 px-md-5 overflow-auto">
                <div id="chat-box" class="text-light d-flex flex-column flex-nowrap">
                    <th:block th:each="chatMessage: ${chatMessages}">
                        <div th:if="${chatMessage.getUsername().equals(username)}" class="chat-message-box px-2 py-1 mb-2 rounded-3 align-self-end d-flex flex-column justify-content-between">
                            <span th:text="${username}" class="chat-message-username" th:classappend="${#strings.equals(username, 'OP')} ? 'text-warning' : 'text-info'"></span>
                            <p th:text="${chatMessage.getMessage()}" class="chat-message mb-0"></p>
                            <span th:text="${chatMessage.getSendingDateTime()}" class="chat-message-time d-flex align-self-end"></span>
                        </div>
                        <div th:unless="${chatMessage.getUsername().equals(username)}" class="chat-message-box px-2 py-1 mb-2 rounded-3 align-self-start d-flex flex-column justify-content-between">
                            <span th:text="${chatMessage.getUsername()}" class="chat-message-username" th:classappend="${#strings.equals(chatMessage.getUsername(), 'OP')} ? 'text-warning' : 'text-info'"></span>
                            <p th:text="${chatMessage.getMessage()}" class="chat-message mb-0"></p>
                            <span th:text="${chatMessage.getSendingDateTime()}" class="chat-message-time d-flex align-self-end"></span>
                        </div>
                    </th:block>
                </div>
            </div>
            <div id="users-box" class="col-0 col-sm-2 text-grey h-100 overflow-auto">
                <ul id="users-list-column" class="list-group list-group-flush">
                    <th:block th:each="chatUser: ${chatUsers}">
                        <li th:text="${chatUser.getUsername()}" class="chat-user list-group-item bg-transparent text-center" th:classappend="${#strings.equals(chatUser.getUsername(), 'OP')} ? 'text-warning' : 'text-info'"></li>
                    </th:block>
                </ul>
            </div>
        </div>

        <div id="bottom-row" class="row">
            <div id="message-input-box" class="col-12 col-sm-10 py-3 px-2 d-flex">
                <textarea id="message-textarea" class="form-control shadow-none text-light w-100" placeholder="Write a message"></textarea>
                <button id="send-message-button" class="btn btn-outline-secondary btn-subtile shadow-none ms-2 ms-sm-3 align-self-end d-flex align-items-center">
                    <span class="d-block d-sm-none"><i class="far fa-paper-plane"></i></span>
                    <span class="d-none d-sm-block">Send</span>
                </button>
            </div>
            <div id="username-box" class="col-0 col-sm-2 d-none d-sm-flex d-sm-flex justify-content-center align-items-center px-0">
                <p class="mb-0 text-center text-grey">
                    You are:&nbsp;<span th:class="${#strings.equals(username, 'OP')} ? 'text-warning' : 'text-info'" th:text="${username}"></span>
                </p>
            </div>
        </div>

        <!-- Modal for users list -->
        <div id="users-modal" class="modal fade">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content text-light">
                    <div class="modal-header">
                        <h5 class="modal-title">Online users</h5>
                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="text-light bg-transparent border-0 px-2 fs-5">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul id="users-list-modal" class="list-group list-group-flush">
                            <th:block th:each="chatUser: ${chatUsers}">
                                <li th:text="${chatUser.getUsername()}" class="chat-user list-group-item bg-transparent" th:classappend="${#strings.equals(chatUser.getUsername(), 'OP')} ? 'text-warning' : 'text-info'"></li>
                            </th:block>
                        </ul>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <p class="mb-0 text-grey">
                            You are:&nbsp;<span th:class="${#strings.equals(username, 'OP')} ? 'text-warning' : 'text-info'" th:text="${username}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Template for your own messages -->
        <template id="chat-message-sent-template">
            <div class="chat-message-box px-2 py-1 mb-2 rounded-3 align-self-end d-flex flex-column justify-content-between">
                <span class="chat-message-username"></span>
                <p class="chat-message mb-0"></p>
                <span class="chat-message-time d-flex align-self-end"></span>
            </div>
        </template>

        <!-- Template for other people's messages -->
        <template id="chat-message-received-template">
            <div class="chat-message-box px-2 py-1 mb-2 rounded-3 align-self-start d-flex flex-column justify-content-between">
                <span class="chat-message-username"></span>
                <p class="chat-message mb-0"></p>
                <span class="chat-message-time d-flex align-self-end"></span>
            </div>
        </template>

        <!-- Template for a chat user -->
        <template id="chat-user-template">
            <li class="chat-user list-group-item bg-transparent text-info"></li>
        </template>
    </main>

    <script th:inline="javascript">
        const UUID = /*[[${chat.getUUID()}]]*/ "";
        const username = /*[[${username}]]*/ "";
    </script>
    <script th:src="@{/js/chat.js}"></script>
</body>
</html>
