<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(title = ~{::title}, styles = ~{::link})">
    <title>QuickChat</title>

    <link rel="stylesheet" th:href="@{/styles/chat.css}">
</head>
<body th:include="layout :: body(content = ~{::main}, scripts = ~{::script})" class="d-flex flex-column">
    <main class="container-fluid d-flex h-100 flex-column overflow-hidden">
        <div id="top-row" class="row">
            <div class="col-10 px-5 py-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 th:text="${chat.getName()}" class="text-grey mb-0"></h5>
                    <button id="copy-chat-url-btn" class="btn btn-sm btn-outline-secondary btn-subtile shadow-none" th:title="${#request.getRequestURL()}">
                        Copy chat URL
                    </button>
                </div>
            </div>
            <div id="nb-active-users-box" class="col-2 d-flex justify-content-center align-items-center px-0">
                <p class="mb-0 text-center text-grey">
                    <span class="circle-status active"></span> 4 online users
                </p>
            </div>
        </div>

        <div id="middle-row" class="row d-flex flex-fill overflow-hidden">
            <div id="chat-box" class="col-10 py-3 px-5 text-light d-flex flex-column flex-nowrap h-100 overflow-auto"></div>
            <div id="users-box" class="col-2 text-grey h-100 overflow-auto">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent text-info text-center">1</li>
                    <li class="list-group-item bg-transparent text-info text-center">3</li>
                    <li class="list-group-item bg-transparent text-info text-center">4</li>
                    <li class="list-group-item bg-transparent text-info text-center">8</li>
                </ul>
            </div>
        </div>

        <div id="bottom-row" class="row">
            <div id="message-input-box" class="col-10 p-3 d-flex">
                <textarea id="message-textarea" class="form-control shadow-none text-light w-100" placeholder="Write a message"></textarea>
                <button class="btn btn-outline-secondary btn-subtile shadow-none ms-3 align-self-end">Send</button>
            </div>
            <div id="username-box" class="col-2 d-flex justify-content-center align-items-center px-0">
                <p class="mb-0 text-center text-grey">
                    You are:&nbsp;<span th:class="${#strings.equals(username,'OP')} ? 'text-warning' : 'text-info'" th:text="${username}"></span>
                </p>
            </div>
        </div>
    </main>

    <script th:src="@{/js/chat.js}"></script>
</body>
</html>