#top-row {
    border-bottom: 1px solid var(--color-border-default);
}

#top-row #chat-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#top-row #copy-chat-url-btn {
    flex-shrink: 0;
}

#top-row #nb-chat-users-box,
#middle-row #users-box,
#bottom-row #username-box {
    border-left: 1px solid var(--color-border-default);
}

#middle-row #chat-box-wrapper {
    background-color: var(--color-background-chat);
}

#middle-row #chat-box .chat-message-box {
    max-width: 75%;
    border: 1px solid var(--color-border-default);
}

#middle-row #chat-box .chat-message-box.align-self-start {
    background-color: var(--color-background-chat-card-default);
}

#middle-row #chat-box .chat-message-box.align-self-end {
    background-color: var(--color-background-chat-card-own);
}

#middle-row #chat-box .chat-message-box:last-child {
    margin-bottom: 0 !important;
}

#middle-row #chat-box .chat-message-box .chat-message {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

#middle-row #chat-box .chat-message-box .chat-message-time {
    font-size: 12px;
    color: var(---color-text-message-time-default);
}

#middle-row #chat-box .chat-message-box.align-self-end .chat-message-time {
    color: var(---color-text-message-time-own);
}

#bottom-row #message-input-box,
#bottom-row #username-box {
    border-top: 1px solid var(--color-border-default);
}

#bottom-row #message-textarea {
    resize: none;
    height: calc(1.5em + .75rem + 2px);
    max-height: 8em;
    background-color: var(--color-background-chat-message-input);
    border: 1px solid var(--color-border-default);
}

/*
    Responsive Breakpoints
*/

@media (min-width: 640px) {
    #middle-row #chat-box .chat-message-box {
        max-width: 60%;
    }
}
