#newChatModal .modal-content {
    background-color: var(--color-background-chat-card-default);
}

#newChatModal .modal-header {
    border-bottom: 1px solid var(--color-border-default);
}

#newChatModal .modal-footer {
    border-top: 1px solid var(--color-border-default);
}

#newChatModal #chat-name {
    border: 1px solid var(--color-border-default);
    background-color: var(--color-background-input);
}

#chat-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-gap: .5rem;
    justify-content: space-between;
}

.chat-card {
    background-color: var(--color-background-chat-card-default);
    border-radius: 6px;
    border: 1px solid var(--color-border-default);
}

.chat-card .card-title {
    white-space: pre-wrap;
}

.chat-card .card-footer {
    border-image-slice: 1;
    border-top: 1px solid;
    border-image-source: linear-gradient(45deg, var(--colors-gradient));
}

/*
    Responsive Breakpoints
*/

@media (min-width: 640px) {
    #chat-cards-container {
        grid-template-columns: repeat(2, 47%);
    }
}

@media (min-width: 768px) {
    #chat-cards-container {
        grid-template-columns: repeat(3, 31%);
    }
}

@media (min-width: 1024px) {
    #chat-cards-container {
        grid-template-columns: repeat(4, 23%);
    }
}

@media (min-width: 1536px) {
    #chat-cards-container {
        grid-template-columns: repeat(5, 18%);
    }
}
